@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Roboto:wght@300;400;500&display=swap");
/*!--------- GENERALES DE SITIO -----------*/
* {
  margin: 0px;
  text-decoration: none; }

a {
  text-decoration: none; }

* ::after ::before {
  box-sizing: default; }

.cta-comprar {
  width: 300px;
  font-family: 'Roboto', sans-serif;
  color: #f6f6f6;
  font-weight: 600;
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  background-color: #313032; }

.cta-principal {
  margin-top: 30px;
  display: flex;
  justify-content: center; }
  .cta-principal div {
    padding: 2px 10px 2px 10px;
    background-color: #0a58ca;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 18px; }
  .cta-principal h2 {
    color: #f6f6f6;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin: 0; }

main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto; }

h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: black; }

h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: black; }

h3 {
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: black; }

h4 {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: black; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-align: center; }

body header a {
  text-decoration: none; }

.titulo-secundario h2 {
  color: black; }

/* Colores */
/* Extends */
.nosotros section {
  display: flex;
  flex-direction: column; }

/* Mixin */
/*!--------- HOMEPAGE Y MISCELANEOS -----------*/
/* MAIN BANNER  */
.hp .main-banner {
  justify-content: center; }
  .hp .main-banner div {
    height: 500px;
    background-image: linear-gradient(90deg, rgba(27, 27, 27, 0.717525) 16%, rgba(255, 255, 255, 0) 94%); }
    .hp .main-banner div a img {
      display: flex; }

.hp .banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  position: absolute;
  top: 70px;
  padding-left: 30px;
  text-decoration: none;
  width: 650px; }
  .hp .banner-text h3 {
    background-color: white;
    font-weight: 400;
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 20px; }
  .hp .banner-text h2 {
    font-weight: 300;
    font-size: 28px;
    color: white;
    font-family: 'Roboto', sans-serif; }
  .hp .banner-text h1 {
    color: white;
    font-weight: 300px;
    font-size: 30; }

.hp main {
  max-width: 1200px !important; }

.hp .oneup {
  border-radius: 20px;
  box-shadow: 0px 11px 28px 20px rgba(0, 0, 0, 0.1);
  width: 300px; }
  .hp .oneup div {
    width: 300px;
    clip-path: inset(0px 0px 0px 0px round 20px); }

.hp .carrusel-productos {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center; }
  .hp .carrusel-productos img {
    display: block;
    width: 100%; }

.hp .oneup-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  background-color: #f6f6f6; }

.hp .oneup-text {
  padding: 8px 12px 8px 12px; }
  .hp .oneup-text h3 {
    font-weight: 400; }
  .hp .oneup-text h4 {
    font-size: 18px; }

/*!--------- ABOUT US -----------*/
.about-us p {
  margin-top: 18px; }

.nosotros section {
  margin-top: 30px;
  gap: 20px; }

.nosotros h2 {
  text-align: center; }

.nosotros i {
  color: #0a58ca; }

.contenido-a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px; }
  .contenido-a div {
    margin-right: 16px; }

.contenido-b {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px; }
  .contenido-b div {
    margin-left: 16px; }

/*!--------- PRODUCTOS -----------*/
.hp main {
  max-width: 1400px; }

.generales main {
  max-width: 1400px; }
  .generales main h1 {
    text-align: center; }
  .generales main h3 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400; }

.generales .nav-item {
  list-style: none;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  font-weight: 300; }

.generales .filtros {
  display: flex;
  justify-content: center;
  gap: 24px; }

.generales hr {
  border-color: #313032;
  border-width: 2px;
  margin-top: 28px;
  margin-bottom: 28px; }

.generales .oneup {
  border-radius: 0px;
  box-shadow: none;
  width: 300px;
  margin-top: 24px; }
  .generales .oneup div {
    clip-path: none; }
  .generales .oneup h4 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: beige; }
  .generales .oneup h3 {
    color: beige; }
  .generales .oneup:hover {
    box-shadow: #313032; }

.generales .texto-descuento {
  font-size: 16px !important;
  text-decoration: line-through;
  color: #dc143c !important;
  font-weight: 500; }

.generales .oneup-text div {
  display: flex;
  justify-content: center;
  gap: 12px; }

.generales .oneup-content {
  background-color: #313032; }

.generales .cta-addtocart button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0a58ca;
  font-family: 'Roboto', sans-serif;
  color: #f6f6f6;
  font-size: 18px;
  gap: 10px;
  font-weight: 400;
  padding: 0px 45px 0px 45px; }

.dropdown-item {
  font-weight: 300; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }
  .hvr-grow:hover,
  .hvr-grow .hvr-grow:focus,
  .hvr-grow .hvr-grow:active {
    transform: scale(1.04); }

.grid-productos {
  display: grid;
  gap: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  justify-items: center; }

/*!--------- CONTACTO -----------*/
.contacto {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px; }
  .contacto img {
    width: 500px;
    height: 500px; }

.contacto-contenido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px; }

.formularios {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center; }

.contacto-copy {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%; }

.informacion-pedido {
  display: flex;
  flex-direction: column;
  gap: 14px; }

.form-group {
  gap: 12px !important; }

/*!--------- PDP -----------*/
.imagenes-producto {
  object-fit: cover;
  max-width: 900px;
  width: auto;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr)); }

.pdp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  max-height: fit-content; }
  .pdp .informacion-producto {
    display: flex;
    flex-direction: column; }
    .pdp .informacion-producto h1 {
      font-size: 28px;
      color: #0a58ca; }
    .pdp .informacion-producto div {
      width: 400px; }

.tallas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 3fr));
  gap: 30px;
  justify-content: center;
  margin-top: 20px; }
  .tallas button {
    color: #313032;
    width: auto; }

.btn {
  border-color: #0a58ca;
  border-width: 1px;
  color: white; }
  .btn:hover {
    background-color: #0a58ca;
    border: #0a58ca; }

.btn-outline-success {
  --bs-btn-active-bg: $color-acento; }

.carrusel-pdp {
  height: auto; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #0a58ca; }

header {
  background-color: #313032;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1; }
  header .top-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 0% 5% 0% 5%; }
    header .top-menu ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding-left: 0px;
      margin-bottom: 0px; }
      header .top-menu ul li {
        display: flex;
        flex-direction: row;
        padding-right: 20px;
        font-family: 'Kanit', sans-serif;
        font-weight: 300; }
        header .top-menu ul li:hover {
          font-weight: 400;
          text-decoration-line: underline; }
      header .top-menu ul a {
        text-decoration: none;
        color: aliceblue;
        list-style: none; }
    header .top-menu form {
      display: flex;
      gap: 12px;
      font-family: 'Kanit', sans-serif; }
    header .top-menu h2 {
      font-family: 'Kanit', sans-serif;
      font-size: 32px;
      font-weight: 300px; }
    header .top-menu img {
      width: 50px;
      height: 50px; }
  header .btn {
    border-color: #0a58ca;
    border-width: 1px;
    color: white; }
    header .btn:hover {
      background-color: #0a58ca;
      border: #0a58ca; }

.hamburguesa {
  display: flex;
  visibility: visible;
  position: fixed;
  top: 0;
  height: 74px; }
  .hamburguesa .bg-body-tertiary {
    background-color: #313032 !important;
    padding: 0px 24px 0px 24px; }
  .hamburguesa .navbar-brand img {
    width: 50px;
    height: 50px;
    vertical-align: middle; }
  .hamburguesa .navbar-toggler {
    border-color: #0a58ca;
    border-width: 2px; }
  .hamburguesa .icono-hamburguesa i {
    font-size: 28px;
    color: #0a58ca; }
  .hamburguesa .navbar-nav .nav-link.active, .hamburguesa .navbar-nav .show > .nav-link {
    color: #f6f6f6; }

.form-control {
  font-family: 'Roboto', sans-serif; }

/*-----FOOTER-----*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #313032;
  margin-top: 28px; }
  footer h2 {
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: white;
    width: fit-content; }
  footer img {
    width: 50px;
    height: 50px; }
  footer ul {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 400px; }
    footer ul li {
      text-decoration: none;
      list-style-type: none;
      font-weight: 300; }
      footer ul li:hover {
        text-decoration-line: underline;
        font-weight: 400; }

.socials-footer {
  justify-content: left;
  margin-left: 50px; }
  .socials-footer div {
    display: flex;
    justify-content: space-around; }

.enlaces-footer {
  justify-content: center; }
  .enlaces-footer h2 {
    text-align: center;
    width: 100%; }
  .enlaces-footer ul li {
    width: fit-content; }
    .enlaces-footer ul li a {
      font-family: 'Kanit', sans-serif;
      font-size: 18px;
      color: #0d6efd; }

.hamburguesa {
  visibility: collapse;
  display: none; }

@media screen and (max-width: 1050px) {
  .enlaces-footer {
    justify-content: center; }
    .enlaces-footer ul {
      display: flex;
      flex-direction: column;
      width: fit-content; }
  .socials-footer div {
    flex-direction: column; }
  .banner-text {
    top: 70px; }
  .pdp {
    display: flex;
    flex-direction: column !important;
    margin-top: 0px !important;
    align-items: center; }
    .pdp .informacion-producto {
      width: 100%;
      padding: 20px;
      max-width: none !important; }
      .pdp .informacion-producto div {
        width: 100% !important; }
  .w-100 {
    width: none;
    height: 600px; }
  .contenido-a {
    gap: 8px; }
    .contenido-a h2 {
      text-align: left;
      font-size: 24px; }
    .contenido-a p {
      text-align: left;
      font-size: 14px; }
  .contenido-b {
    gap: 8px; }
    .contenido-b h2 {
      text-align: right;
      font-size: 24px; }
    .contenido-b p {
      text-align: right;
      font-size: 14px; }
  .nosotros img {
    width: 50%; }
  .contacto-contenido {
    gap: 8px;
    justify-content: space-between; }
    .contacto-contenido img {
      width: 300px;
      height: 300px; } }

@media screen and (max-width: 767px) {
  footer {
    display: grid;
    justify-content: center; }
  .banner-text {
    top: 0px !important; }
  .socials-footer {
    margin-left: 0px;
    margin-top: 20px;
    justify-content: center;
    order: 2; }
    .socials-footer h2 {
      width: 100%;
      text-align: center; }
    .socials-footer div {
      flex-direction: row;
      justify-content: space-around; }
  .productos {
    margin-top: 85px; }
  .enlaces-footer {
    margin-top: 20px;
    margin-left: 0px;
    order: 1; }
    .enlaces-footer ul {
      flex-direction: row;
      gap: 12px;
      padding-left: 0px; }
  footer iframe {
    display: flex;
    justify-self: center;
    order: 3;
    margin-top: 20px; }
  .hamburguesa {
    display: revert;
    visibility: revert; }
  header {
    display: none;
    visibility: collapse; }
  .informacion-producto {
    width: 100%;
    max-width: none;
    padding: 10px; }
    .informacion-producto h1 {
      font-size: 24px !important; }
    .informacion-producto h2 {
      font-size: 20px;
      text-align: center; }
    .informacion-producto h4 {
      text-align: center; }
  .tallas {
    grid-template-columns: repeat(auto-fit, minmax(50px, 3fr));
    gap: 10px !important;
    margin-top: 20px; }
  .w-100 {
    width: 100% !important;
    height: auto; }
  .contenido-a {
    flex-direction: column-reverse; }
    .contenido-a h2 {
      text-align: center;
      font-size: 24px; }
    .contenido-a p {
      text-align: center;
      font-size: 14px; }
    .contenido-a div {
      margin-right: 0;
      margin: 0px 8px 0px 8px; }
  .contenido-b {
    flex-direction: column-reverse; }
    .contenido-b h2 {
      text-align: center;
      font-size: 24px; }
    .contenido-b p {
      text-align: center;
      font-size: 14px; }
    .contenido-b div {
      margin-left: 0;
      margin: 0px 8px 0px 8px; }
  .nosotros {
    margin-top: 60px; }
    .nosotros img {
      width: 100%;
      height: 200px;
      object-fit: cover; }
    .nosotros h1 {
      font-size: 40px; }
  .contacto-contenido img {
    display: none; }
  .contacto-copy {
    width: 100%;
    margin: 0px 8px 0px 8px; }
  .contacto {
    margin-top: 80px; } }
