/* https://fonts.google.com/share?selection.family=Kanit:wght@300;400%7CRoboto:wght@300;400 

font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif;

*/


@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Roboto:wght@300;400;500&display=swap'); 

/*!--------- GENERALES DE SITIO -----------*/


*{
    margin: 0px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

* ::after ::before{
    box-sizing: default;
}

/* --- HEADER --- */


header{
    background-color: #313032;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 1;
}


.top-menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}

.top-menu form{
    display: flex;
    gap: 12px;
    font-family: 'Kanit', sans-serif;
}

.top-menu ul li{    
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.top-menu ul li:hover{
    font-weight: 400;
    text-decoration-line: underline;
}

.top-menu ul{
    justify-content: center;
    margin-bottom: 0px;
}

.top-menu ul li a{
    text-decoration: none;
    color: aliceblue;
    list-style: none;
}

.top-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 0% 5% 0% 5%;
}

    .top-menu h2{
        font-family: 'Kanit', sans-serif;
        font-size: 32px;
        font-weight: 300px;
        
    }

    .top-menu img{
        width: 50px;
        height: 50px;
    }

    .btn{
        border-color: #0a58ca;
        border-width: 1px;
        color: white;
    }

    .btn:hover{
        background-color: #0a58ca;
        border: #0a58ca;
    }

    .hamburguesa{
        display: flex;
        visibility: visible;
        position: fixed;
        top: 0;
        height: 74px;
    }
    
    .bg-body-tertiary{
            background-color: #313032 !important;
            padding: 0px 24px 0px 24px;
        }

    .navbar-brand img{
        width: 50px;
        height: 50px;
        vertical-align: middle;
    }

    .navbar-toggler{
        border-color: #0a58ca;
        border-width: 2px;
    }

    .icono-hamburguesa i{

        font-size: 28px;
        color: #0a58ca;
    }

    .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
        color: #f6f6f6;
    }

.form-control{
    font-family: 'Roboto', sans-serif;
}

/* --- FOOTER --- */

body footer img{
    width: 50px;
    height: 50px;
     /*todo --SIEMPRE ESPECIFICAR PX-- */ 
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #313032;
    justify-content: space-between;
    margin-top: 28px;
    align-items: center;
}

footer ul li{
    text-decoration: none;
    list-style-type: none;
    font-weight: 300;
}

footer ul{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 400px;
}

footer ul li:hover{
    text-decoration-line: underline;
    font-weight: 400;
}

.socials-footer{
    
    justify-content: left;
    margin-left: 50px;
}

footer div div{
    display: flex;
    justify-content: space-around;

}

footer h2{
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: white;
    width: fit-content;
}

.enlaces-footer h2{
    text-align: center;
    width: 100%;
}

.enlaces-footer{
    justify-content: center;
}

.enlaces-footer ul li a{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    color: #0d6efd;
}

.enlaces-footer ul li{
    width: fit-content;
}

.hamburguesa{
    visibility: collapse;
    display: none;
}

@media screen and (max-width: 1050px) {
    .enlaces-footer ul{
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    .enlaces-footer{
        justify-content: center;
    }

    .socials-footer div{
        flex-direction: column;
    }

}

@media screen and (max-width: 767px) {
    footer{
        display: grid;
        justify-content: center;

    }
    
    .enlaces-footer ul{
        flex-direction: row;
        gap: 12px;
        padding-left: 0px;
    }
    
    .socials-footer{
        margin-left: 0px;
        margin-top: 20px;
        justify-content: center;
        order: 2;
    }

    .socials-footer h2{
        width: 100%;
        text-align: center;
    }

    .socials-footer div{
        flex-direction: row;
        justify-content: space-around;
    }

    .enlaces-footer{
        margin-top: 20px;
        margin-left: 0px;
        order: 1;
    }

    footer iframe{
        display: flex;
        justify-self: center;
        order: 3;
        margin-top: 20px;
    }

    .hamburguesa{
        display: revert;
        visibility: revert;
    }

    header{
        display: none;
        visibility: collapse;
    }



}


/*!--------- HOMEPAGE Y MISCELANEOS -----------*/

/* MAIN BANNER  */

.main-banner{
    justify-content: center;
}

.main-banner div a img{
    display: block;
}

.main-banner div{
    height: 500px;
    background-image: linear-gradient(90deg, rgba(27,27,27,0.7175245098039216) 16%, rgba(255,255,255,0) 94%);
}

.banner-text{
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 0px;
    justify-content: center;
    padding-left: 30px;
    text-decoration: none;
    width: 650px;
}

.banner-text h3{
    background-color: white;
    font-weight: 400;
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 20px;
}

.banner-text h2 {
    font-weight: 300;
    font-size: 28px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.banner-text h1 {
    color: white;
    font-weight: 300px;
    font-size: 30;

}

/* Mas Productos  */


.oneup{
    border-radius: 20px;
    box-shadow: 0px 11px 28px 20px rgba(0,0,0,0.1);
    width: 300px;
}
    .oneup div{
        width: 300px;
        clip-path: inset(0px 0px 0px 0px round 20px);
    }

    .carrusel-productos{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-items: center;
        }

    .carrusel-productos img{
        display: block;
        width: 100%;
    }

    .oneup-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    background-color: #f6f6f6;
    }

    .oneup-text{
        padding: 8px 12px 8px 12px;
    }

    .oneup-text h3{
        font-weight: 400;
    }

    .oneup-text h4{
        font-size: 18px;
    }

    .cta-comprar{
        width: 300px;
        font-family: 'Roboto', sans-serif;
        color: #f6f6f6;
        font-weight: 600;
        font-size: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 0;
        background-color: #313032;
    }

.cta-principal{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.cta-principal div{
    padding: 2px 10px 2px 10px;
    background-color: #0a58ca;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
}

.cta-principal h2{
    color: #f6f6f6;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

/* --- About Us --- */

.about-us p{
    margin-top: 18px;
}

/* --- MAIN --- */

main{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

h1{
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: black;
}

h2{
    font-family: 'Kanit', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: black;

}

h3{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;

}

h4{
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: black;

}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-align: center;
}


body header a{
    text-decoration: none;
}

.titulo-secundario h2{
    color: black;
}

/*!--------- ABOUT US -----------*/

.nosotros section{
    margin-top: 90px;
}

.contenido-a nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.contenido-b nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

/*!--------- Productos -----------*/

.plp main{
    max-width: 1400px;
}

.plp main h1{
    text-align: center;
}

.plp main h3{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
}

.plp .nav-item {
    list-style: none;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.dropdown-item{
    font-weight: 300;
}

.plp .filtros{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.plp hr{
    border-color: #313032;
    border-width: 2px;
    margin-top: 28px;
    margin-bottom: 28px;
}

.plp .oneup{
    border-radius: 0px;
}

.plp .oneup div{
    clip-path: none;
}

.plp .oneup h4{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: beige;
}

.plp .oneup h3{
    color: beige;
}

.plp .texto-descuento{
    font-size: 16px !important;
    text-decoration: line-through;
    color: crimson !important;
    font-weight: 500;
}
.plp .oneup-text div{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.plp .oneup-content{
    background-color: #22212b;
}

.plp .oneup{
    box-shadow: none;
    width: 300px;
    margin-top: 24px;
}

.plp .oneup:hover{
    box-shadow: #22212b;
}

.plp .cta-addtocart button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0a58ca;
    font-family: 'Roboto', sans-serif;
    color: #f6f6f6;
    font-size: 18px;
    gap: 10px;
    font-weight: 400;
    padding: 0px 45px 0px 45px;
}

    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.04);
    }

.grid-productos{
    display: grid;
    gap: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    justify-items: center;
}

